# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# my stuff
.idea
api/.env.dev.yml
api/geo-bloxberg-validators.json
api/geo-mpg-institutes.json
api/editor.log
web/dist
web/node_modules
web/.env.development.local
api/api
docker/development.local